{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are u sure wanna delete this "{{item}}"</p>
            <form method="POST" action="{% url 'deleteorder' item.id %}">
                {% csrf_token %}
                <a href="{% url 'home' %}" class='btn btn-warning'>Cancel</a>
                <input class='btn btn-danger' type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>
    
{% endblock content %}
    